.header-banner {
  width: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
  border-bottom: 2px solid rgb(148, 148, 148);
}

.logo-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 70%;
}

.nav-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 30%;
  gap: 10px;
}

.nav-banner a {
  color: #c4c4c4;        
  padding: 10px 15px;    
  font-weight: bold;     
  transition: color 0.3s ease;
}

.nav-banner a:hover {
  color: #f1f1f1;        
}

.header-banner img {
  height: 60px;
  padding: 6px;
}

.header-banner p {
  font-size: 28px;
  font-weight: bold;
}